@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
  $primary: #ffb900,
  $secondary: #5252cf,
  $surface: #333,
  $background: #000,
  $error: color-palette.$red-700
);

html,
body {
  background-color: #000;
  color: theme.$on-surface;
}

a {
  color: #5252cf;
}
a:visited {
  color: color.scale(#5252cf, $lightness: -35%);
}

body, html {
  padding: 0;
  margin: 0;
}
